body {
    margin: 60px auto;
    width: 50%;
    font-family: Roboto, Tahoma, Arial, sans-serif;

    color: #ebd4cb;
    background:#141204;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ebd4cb;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    color: #d81e5b;
}
p {
    font-size: 1em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d81e5b;
    font-size: .8em;
}

a.blog-title{
    text-decoration: none;
    font-style: italic;

}
a.blog-title:hover{
    text-decoration: underline;
}
/*
ul.post { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.post li {
    list-style: none;
}*/
