<!DOCTYPE html>
	<html>
		<head>
			<!-- favicons -->
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
			<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
			<link rel="manifest" href="/manifest.json">
			<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e00808">
			<meta charset="UTF-8">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul style="text-align: right;">
	        		<li><a class="header-link" href="/">Home</a></li>
		        	<li><a class="header-link" href="/about">About</a></li>
		        	<li><a class="header-link" href="/projects">Little Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:christopher.bradley@live.co.uk">Email</a></li>
	        		<li><a href="https://github.com/chrisspyb">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
